langchain
GPT4ALL
llama_cpp_python
sacremoses==0.0.53
datasets
torch
torchvision
torchaudio
transformers[sentencepiece]
langchain-community
qdrant-client

llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-readers-file
llama-index-llms-openai
llama_index
langchain-community
uvicorn
starlette
sse_starlette
starlette_context
fastapi
llama-cpp-python
requests
pydantic
sentence-transformers
einops
prompt_toolkit